@charset "UTF-8";

html, body {
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
}

a {
	text-decoration: none;
}

#header-container {
    width: 100%;
	height: 100%;
    
}

.menu-layout {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ededed;
    z-index: 10; 
    top: 0%;
    left: 0%;
    
}
.main-menubar{
    display: flex;
    padding: 10px 60px;
    margin: auto; 
    width: 1136px;
   
}

.main-menubar .logo {
    width: 74px;
    height: 30px;
    
    padding-top: 14px;
}
.nav-menu {
    width: 360px;
    height: 60px;
}

.nav-menu a {
    position: relative;
    display: inline-block;
    margin: 6px 4px 0;
    padding: 14px 8px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
    left: 34px;
}

.nav-menu a:hover {
    color: #35c5f0;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    width: 705px;
    

}

.cart-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.cart-menu:hover {
    background-color: #35c5f0;
    border-radius: 50%;
}


.cart-menu:hover .cart-icon {
   color: white;
}

.cart-icon {
    color: #aaa;
}

.cart-icon:hover {
    color: white;
}

.has-search .form-control {
    width: 266px;
    height: 40px;
    color: #ededed;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding-left: 40px;
    margin-right: 15px;
    outline: 0;
}

.has-search .form-control:hover {
    background-color: rgba(128, 128, 128, 0.04);
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 45px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    
}

.nav-login-item {
    position: relative;
    display: inline-block;
    margin: 0 9px 0 8px;
    color: #757575;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.nav-login-item:after  {
    content: "|";
    font-size: 12px;
    font-weight: 200;
    position: inherit;
    left: 11px;
    bottom: 2px;
  }
.nav-login-item:last-child:after {
    content: "";
}

.nav-login-item:hover {
    color: #35c5f0;
}

.nav-write-btn {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin-left:13px;
    border: none;
    background: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    background-color: #35c5f0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.nav-write-btn-arrow {
    font-size: 11px;
    padding-left: 7px;
    
}

.nav-write-btn:hover {
    background-color: #09addb;
}